{%extends 'mgmt/index.html'%}
{% load static%}
{% block content %}
<!-- {%include 'mgmt/status.html'%} -->

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    <style>
        .container-fluid {
            padding-right: 180px;
            padding-left: 200px;
        }

        .card-body {
            max-width: 120%;
        }

        .circleme {
            border-radius: 15px;
            border: 1px solid;
        }

        .reciever {
            background: #afb4b923;
        }

        .btn-dre {
            border-radius: 15px;
            font-size: 18px;
            width: 60%;
            padding: 10px;
            margin-top: 45px;
            float: right;
            transition: all .2s ease-in-out;
        }

        .btn-dre:hover {
            transform: scale(1.1);
        }

        .sb-btn {
            border-radius: 15px;
            float: right;
            transition: all .2s ease-in-out;
        }

        .sb-btn:hover {
            transform: scale(1.1);
        }

        .btn-comp {
            border-radius: 15px;

            float: right;
            transition: all .2s ease-in-out;
        }

        .btn-comp:hover {
            transform: scale(1.1);
        }
    </style>
</head>

<body>
    <script>
        function confirmSubmit() {
            var txt;
            var agree = confirm("Are you sure you wish to complete this Work Order?");
            if (agree) {

                return true;
            } else
                return false;
        }
    </script>
    <script type="text/javascript">
        function confirmDelete() {
            var agree = confirm("Are you sure you want to delete this Work Order?");
            if (agree) {

                return true;
            } else
                return false;
        }
    </script>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto" style="width: 800px;">
                <div class="center-heading">
                    <h2 class="section-title"> WORK-ORDERS </h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Search, Create, Comlete and View Work-orders. View all Tools and Parts associated with a specific
                        Work-order!</p>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-3">
                <div class='card card-body circleme'>
                    <a class="btn btn-dark sb-btn" style=" width: 90%; margin:auto;"
                        href="{% url 'inventory'%}"><strong>Issue Stock Inventory </strong> <img
                            src="https://img.icons8.com/color/36/000000/open-box.png" /></a>
                    <br>
                    <a class="btn btn-dark sb-btn" style=" width: 90%; margin:auto;"
                        href="{%url 'Rinventory'%}"><strong>Issue Reserved Inventory </strong> <img
                            src="https://img.icons8.com/color/36/000000/scan-stock.png" /></a>
                </div>

            </div>
            <div class="col-md-4">


            </div>
            <div class="col-md-4"></div>
        </div>

        <br>
        <br>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <div class="mx-auto" style="text-align:center">
                    <h4>CREATE W/O </h4>
                </div>
                <hr>
                <br>

                <div class="card card-body reciever circleme">
                    <div class="form-group">
                        <form id="id_form" action="" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input style="float: right" class="btn btn-dark form-btn" type="submit"
                                valuename="Create Work-Order">
                        </form>

                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <!--Specificy we want to take up 7/12 content blocks-->
                <div class="mx-auto" style="width: 400px;">
                    <h4 style="text-align:center">OPEN WORK-ORDERS </h4>
                </div>
                <hr>
                <br>

                <div class='card card-body circleme '>
                    <form method="get" style="background-color: white;">
                        {{myfilter.form}}
                        <button style="float: right; border-radius: 15px;" class="btn btn-info" type="submit"><img
                                src="https://img.icons8.com/pastel-glyph/36/000000/search--v1.png" /></button>
                    </form>
                </div>
                <br>
                <div id="form_response" class="mb-4 text-center"></div>

                <div class="turbinedisplay">
                    <img id="Turbine" src="https://img.icons8.com/ios-filled/100/000000/jet-engine.png" />
                </div>
                <div class="card card-body circleme">
                    <table class="table table-special table-md">
                        <tr>
                            <th>Work Order No
                            </th>
                            <th>Tail No</th>
                            <th>Airframe Type
                            </th>
                            <th>Date Created
                            </th>
                            <th>LDGS @ open</th>
                            <th>Hours @ open
                            </th>


                        </tr>
                        {% for instance in querysetopen %}
                        <tr>
                            <td class="tablestyle">{{instance.workorder_number}}</td>
                            <td class="tablestyle">{{instance.tail_number}}</td>
                            <td class="tablestyle">{{instance.type_airframe}}</td>
                            <td class="tablestyle">{{instance.date_added|date:"M d, Y"}}</td>
                            <td class="tablestyle">{{instance.ldgs_at_open}}</td>
                            <td class="tablestyle">{{instance.hours_at_open}}</td>

                            <td class="tablestyle"><a class="btn btn-sm btn-info form-btn"
                                    href="{% url 'partslink' instance.id 'NotHistorical'%}">View</a></td>

                            <td class="tablestyle"><a class="btn btn-sm btn-danger form-btn"
                                    onClick='return confirmDelete()' href="{% url 'deleteWO' instance.id%}">delete</a>
                            </td>

                            <td> <a class="btn btn-sm btn-dark form-btn" onClick='return confirmSubmit()'
                                    href="{% url 'change_order_status' instance.id%}">Complete</a></td>
                        </tr>
                        {% endfor%}

                    </table>
                </div>

            </div>
        </div>
        <br>
        <hr>
    </div>

    <br>
    <br>
</body>
{% endblock%}