
  <footer id = "main-footer" class="d-flex justify-content-between flex-wrap bg-dark p-4">
     
    <ul class="list-inline">
      <li class="list-inline-item pl-2 border-left border-light ">
        <a class="text-white"  href ="https://icons8.com/" target="_blank">Icons8 <img src="https://img.icons8.com/plasticine/48/000000/icons8-new-logo.png"/></a>
      </li>
    </ul>
    
    <div class="text-white text-center">
      <medium>Copyright &copy; winaviation</medium>
    </div>
   </footer>