{% extends 'mgmt/index.html'%}
{% load static%}
{% block content %}
{% load widget_tweaks %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}" />
    <style>
        .sb-btn {
            border-radius: 15px;
            float: right;
            transition: all .2s ease-in-out;

        }

        .sb-btn:hover {
            transform: scale(1.1);
        }

        .circleme {
            border-radius: 15px;
            border: 2px solid;
        }

        .btnedit {
            padding-right: 5px;
            display: flex;

        }

        .poschahnge {
            float: right;
        }
    </style>
</head>
<br>
<br>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                <!--Specificy we want to take up 5/12 content blocks-->
                <div class="mx-auto" style="text-align:center">
                    <h4> <img src="https://img.icons8.com/fluent/48/000000/copy-2.png" /> ISSUE TO WORKORDER <img
                            src="https://img.icons8.com/fluent/48/000000/copy-2.png" /></h4>
                </div>
                <hr>
                <div id="form_response" class="mb-4 text-center"></div>
                <div class="turbinedisplay">

                    <img id="Turbine" src="https://img.icons8.com/dotty/100/000000/share-2.png" />
                </div>


                <div class="card card-body reciever circleme">
                    <div class="form-group">

                        <h5>Issue : {{Uncalitool.description}}</h5>
                        <h6>Part # : {{Uncalitool.part_number}}</h6>
                        <h6>Serial # : {{Uncalitool.serial_number}}</h6>
                        {%if Uncalitool.workorder_no%}
                        <h6>Associated with W/O : {{Uncalitool.workorder_no}}</h6>
                        {%else%}

                        {%endif%}
                        <hr>

                        <br>
                        <form id="toolform" action="#" method="POST">
                            {% csrf_token %}
                            {{formissueUnCali.as_p}}
                            <hr>
                            <button class="btn btn-dark sb-btn poschahnge" style="float:right" type="submit">Confirm
                                Entry</button>

                            {%if Uncalitool.issued%}
                            <a class="btn btn-danger sb-btn" style="float:left"
                                href="{% url 'partslink' Uncalitool.workorder_no.id 'NotHistorical' %}">Cancel</a>
                            {%else%}
                            <a class="btn btn-danger sb-btn" style="float:left" href="{% url 'tools' %}">Cancel</a>
                            {%endif%}
                        </form>
                    </div>
                </div>
                <hr>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <script>
        $("#toolform").submit((event) => {
            if (!$("#toolform").attr('validated')) {
                let formData = new FormData($("#toolform")[0]);
                $.ajax({
                    url: "{{ request.path }}",
                    method: "POST",
                    data: $('#toolform').serialize(),
                    success(response) {
                        if ('error' in response) {
                            $('#toolform').attr('validated', true);
                            $('#toolform').submit();
                        } else {

                            $(".circleme").hide();
                            $("#Turbine").show();
                            $("#Turbine").css("animation-play-state", "running");
                            $("#form_response").show();
                            $("#form_response").fadeIn(1000).fadeOut(1000).fadeIn(
                                2000);
                            $("#form_response").html(response.success);
                            setTimeout(() => {
                                window.location.href = response.redirect_to;
                            }, 3000);

                        }
                    }
                });
                return false;
            }
            return true;
        });
    </script>
</body>



{% endblock%}