nav{
  background:#121313;
  position:fixed;
  top:0px;
  bottom:0;
  height:150%;
  left:0;
  width:180px;
  z-index: 0;
}

.navbar{
  z-index: 2;
}

.navdiv a {
  position:relative;
  text-decoration:none;
  color:white;
  font-size: 13px;
  display:table;
  width: 180px;
 
}

.navdiv{
  padding-top: 100px;
}
.navdiv i{
  transform:scale(1.1)
}

.navdiv a:hover{
  color:#fff;
  background-color:#076868;
}

.fa {
  position: relative;
  width:70px;
  height: 36px;
  text-align: center;
  top:12px; 
  font-size:20px;
}

nav .nav-text  {
  position:relative;
  top:12px;
}

nav{
  width:70px;
  overflow:hidden;
 }

 nav:hover {

  width:180px;
  -webkit-transition:width .2s linear;
  transition:width .2s linear;
}

.navdiv .mid-block a
{
background-color:#076868;
text-transform:capitalize;
box-shadow:inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55), inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}
.navdiv .mid-block-2 a
{
text-transform:capitalize;
box-shadow:inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55), inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

nav:hover .navdiv .mid-block-2 a{

  padding-left: 15px;
}

.navdiv .mid-block-2 a:hover
{
background: linear-gradient(135deg, #ce961c 0%, #ca1616 100%); 
text-transform:capitalize;
box-shadow:inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55), inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}







