{% extends 'mgmt/index.html'%}
{% load static %}
{% block content %}
{% load widget_tweaks %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    <style>
        .sb-btn {
            border-radius: 15px;
            float: right;
            transition: all .2s ease-in-out;

        }

        .sb-btn:hover {
            transform: scale(1.1);
        }

        .circleme {
            border-radius: 15px;
            border: 1px solid;
        }

        .btnedit {
            padding-right: 5px;
            display: flex;

        }

        .poschahnge {
            float: right;
        }
    </style>

</head>
<br>
<br>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                <!--Specificy we want to take up 5/12 content blocks-->
                <div style="text-align:center;">
                    <h4>SHIPPING
                        INFORMATION
                        <img src="https://img.icons8.com/plasticine/60/000000/drop-shipping.png" /></h4>
                </div>
                <hr>
                <div id="form_response" class="mb-4 text-center"></div>

                <div class="Cardisplay">
                    <img id="Car" src="https://img.icons8.com/pastel-glyph/100/000000/truck--v1.png" />

                </div>
                <div class="card card-body reciever circleme">
                    <div class="form-group">
                        <h5>Part description : {{queryset.description}}</h5>
                        <h6>Part # : {{queryset.part_number}}</h6>
                        {%if queryset.serial_number%}
                        <h6>Serial # : {{queryset.serial_number}}</h6>
                        {%else%}
                        <h6>Batch # : {{queryset.batch_no}}</h6>

                        {%endif%}
                        <hr>

                        <h6>Length measurements should be entered in inches*</h6>
                        <h6>Weight should be entered in pounds and ounces*</h6>

                        <hr>
                        <form id="infoform" action="#" method="POST">

                            {% csrf_token %}

                            <table border="0.5" style="padding: 20px;">
                                {{form}}
                            </table>
                            <hr>

                            <button class="btn btn-dark sb-btn poschahnge" style="float:right" type="submit">Confirm
                                Entry</button>
                            <a class="btn btn-danger sb-btn" style="float:left" href="{% url 'Qinventory' %}">Cancel</a>


                        </form>


                    </div>
                </div>
                <hr>
            </div>

            <div class="col-md-4">

            </div>
        </div>
    </div>

    <script>
        $("#infoform").submit((event) => {
            if (!$("#infoform").attr('validated')) {
                let formData = new FormData($("#infoform")[0]);
                $.ajax({
                    url: "{{ request.path }}",
                    method: "POST",
                    data: $('#infoform').serialize(),
                    success(response) {
                        if ('error' in response) {
                            $('#infoform').attr('validated', true);
                            $('#infoform').submit();
                        } else {

                            $(".circleme").hide();
                            $("#Car").show();
                            $("#Car").css("animation-play-state", "running");
                            $("#form_response").show();
                            $("#form_response").fadeOut(1000).fadeIn(2000).fadeOut(1000).fadeIn(
                                2000);
                            $("#form_response").html(response.success);
                            setTimeout(() => {
                                window.location.href = response.redirect_to;
                            }, 5000);

                        }
                    }
                });
                return false;
            }
            return true;
        });
    </script>



</body>



{% endblock%}