
<!DOCTYPE html>
{% load static%}
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Request Orders</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
           

            @page{
                size: "A4";
                margin: 2.5cm 1.5cm 3.5cm 1.5cm;

                @top-center{
                    content: 'WINAVIATION MAINTENANCE'
                }
              
            }
            
        </style>
    </head>
    <body>
        <div class="logo">
            <img src="{% static 'images/winaviation.png' %}" width="200" height="60" class="d-inline-block align-top" alt="">
        </div>
        <h2 style="text-align:center"> PARTS REQUEST <img src="https://img.icons8.com/fluent/48/000000/support.png"/> </h2> 
        <br>
        <hr>
        <h5>This Order was sent on : {{date}}</h5>
  
        <hr>
        <div class="card card-body circleme">
          <table class="table table-md">
              <tr>
                  <th style="text-align:center">Description</th>
                  <th style="text-align:center">P/N</th>   
                  <th style="text-align:center">Tail No</th>
                  <th style="text-align:center">Ordered By:</th>
                  <th style="text-align:center">IPC</th>
                  <th style="text-align:center">Qty</th>
                  <th style="text-align:center">Date Ordered</th>
              </tr>
              {% for instance in orders %}
              <tr>
                  <td style="text-align:center; padding:8px;">{{instance.description}}</td>
                  <td style="text-align:center; padding:8px;">{{instance.part_number}}</td>
                  <td style="text-align:center; padding:8px;">{{instance.tail_number}}</td>
                  <td style="text-align:center; padding:8px;">{{instance.ordered_by}}</td>
                  <td style="text-align:center; padding:8px;">{{instance.ipc_reference}}</td>
                  <td style="text-align:center; padding:8px;">{{instance.order_quantity}}</td>
                  <td style="text-align:center; padding:8px;">{{instance.date_ordered|date:"M d, Y"}}</td>

              </tr>
              {% endfor%}

          </table>
          <br>
          <hr>
      </div>

    </body>
</html>