{%extends 'mgmt/index.html'%}
{% load static%}
{% block content %}
<!-- {%include 'mgmt/status.html'%} -->

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}" />
    <style>
        .container-fluid {

            padding-left: 200px;
            padding-right: 175px;
        }

        btn-pos {
            display: flex;
            align-items: center;
            align-content: center;

        }

        .a {
            color: white;
        }

        .export:hover {
            transform: scale(1.2);
        }

        .btn-align {

            margin: auto;
            margin-left: 90px;
        }

        .circleme {
            border-radius: 15px;
            border: 1px solid;


        }

        .reciever {
            background: #afb4b923;
        }

        .sb-btn {
            border-radius: 15px;
            float: right;
            align-items: center;
            transition: all .2s ease-in-out;
        }

        .sb-btn:hover {
            transform: scale(1.1);
        }

        .export-layout {
            display: flex;
            padding-bottom: 20px;
        }

        .sb-export {
            border-radius: 15px;
            transition: all .2s ease-in-out;
            font-size: 18px;
            margin: auto;
            width: 200px;
        }

        .sb-export:hover {
            transform: scale(1.1);
        }

        .btn-comp {
            border-radius: 15px;

            float: right;
            transition: all .2s ease-in-out;
        }

        .btn-comp:hover {
            transform: scale(1.1);

        }
    </style>
</head>

<body>
    <script>
        function confirmDelete() {
            var txt;
            var agree = confirm("Are you sure you want to delete this item?");
            if (agree) {

                return true;
            } else
                return false;
        }
    </script>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="mx-auto" style="width: 800px;">
                <div class="center-heading">
                    <h2 class="section-title"> ORDER MANAGEMENT </h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Search, Create and Export all Inventory orders! Note, everything with a unique indentifier, such
                        as a Serial number, will be represented as a single entry.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class='card card-body circleme btn-pos '>
                    <a class="btn  btn-dark sb-btn" href="{% url 'orderhistory' %}">View Order History <img
                            src="https://img.icons8.com/plasticine/36/000000/order-history.png" /></a>
                </div>
                <br>
            </div>
            <div class="col-md-4">


            </div>
            <div class="col-md-4"></div>
        </div>
        <br>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="mx-auto" style="text-align:center">
                    <h4>ORDER PART <img src="https://img.icons8.com/fluent/48/000000/add-to-clipboard.png" /></h4>
                </div>
                <hr>
                <br>
                <div class="card card-body reciever circleme">
                    <div class="form-group">
                        <form action="" method="POST" style="overflow: hidden">
                            <table class="orderPartform">
                                {% csrf_token %}
                                {{form.as_table}}
                            </table>

                            <br>
                            <hr>
                            <input class="btn btn-dark btn-dre" type="submit" valuename="Submit">
                        </form>
                    </div>
                </div>
                <br>
                <hr>
                <br>
            </div>

            <div class="col-md-9">
                <!--Specificy we want to take up 7/12 content blocks-->
                <div class="row">

                </div>
                <div class="mx-auto" style="width: 400px;">
                    <h4 style="text-align:center">PENDING ORDERS <img
                            src="https://img.icons8.com/color/48/000000/deliver-food.png" /></h4>
                </div>
                <hr>
                <br>

                <div class="row">
                    <div class="col-md-10">
                        <div class='card card-body circleme'>
                            <form class="myfilter" method="get">
                                <div style="display: flex;">
                                    <div class="filterC">
                                        <p class="filtertext">Description : {{myfilter.form.description}}</p>
                                    </div>
                                    <div class="filterC">
                                        <p class="filtertext">Part #:{{myfilter.form.part_number}}</p>
                                    </div>
                                    <div class="filterC">
                                        <p class="filtertextSelect">Ordered By:{{myfilter.form.ordered_by}}</p>
                                    </div>
                                    <button class="btn btn-info btn-search" type="submit">
                                        <img src="https://img.icons8.com/pastel-glyph/36/000000/search--v1.png" />
                                    </button>

                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class='card card-body circleme '>
                            <div class="export">
                                <a href="{% url 'exportorder' %}"> <img
                                        src="https://img.icons8.com/fluent/52/000000/supply-chain.png" /></a>
                                <span class="tooltiptext">Export Orders</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card card-body circleme">
                    <table class="table table-special table-md">
                        <tr>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Description</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Type</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">P #</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Allocated To:
                            </th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Ordered By:</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Qty</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Waybill</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Unit Price</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Date Ordered
                            </th>


                        </tr>
                        {% for instance in queryset %}
                        <tr>
                            <td class="tablestyle">
                                {{instance.description}}</td>
                            <td class="tablestyle">
                                {{instance.part_type}}</td>
                            <td class="tablestyle">
                                {{instance.part_number}}</td>
                            <td class="tablestyle">
                                {{instance.tail_number}}</td>
                            <td class="tablestyle">
                                {{instance.ordered_by}}</td>
                            <td class="tablestyle">
                                {{instance.order_quantity}}</td>

                            {% if instance.waybill %}
                            <td class="tablestyle"><a class="btn btn-sm sb-btn" target="_blank"
                                    href="{{instance.urlWayBill}}"><img style="border: solid 2px; "
                                        src="https://img.icons8.com/fluent/48/000000/track-order.png" /></a></td>

                            {%else%}
                            <td class="tablestyle"><a class="btn btn-sm btn-warning form-btn  "
                                    href="{% url 'waybill' instance.id %}"><strong>ADD</strong></a></td>

                            {% endif %}


                            {% if instance.price %}

                            <td class="tablestyle"> $
                                {{instance.price}}</td>

                            {%else%}

                            <td class="tablestyle"><a class="btn btn-sm btn-warning form-btn "
                                    href="{% url 'pricechange' instance.id %}"><strong>ADD</strong></a></td>

                            {% endif %}

                            <td class="tablestyle">
                                {{instance.date_ordered|date:"M d, Y"}}</td>
                            <td class="tablestyle"><a class="btn btn-sm btn-danger btn-comp"
                                    onClick='return confirmDelete()'
                                    href="{% url 'deletepart' instance.id %}">Delete</a></td>
                            <td class="tablestyle"><a class="btn btn-sm btn-dark sb-btn"
                                    href="{% url 'recieveorder' instance.id %}">Recieve</a></td>

                        </tr>
                        {% endfor%}

                    </table>
                </div>
                <br>
            </div>
        </div>
    </div>
</body>

{% endblock%}