{% extends 'mgmt/index.html'%} {% load static%} {% block content %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}" />
  <style>
    .sb-btn {
      border-radius: 15px;
      float: right;
      transition: all 0.2s ease-in-out;
    }

    .sb-btn:hover {
      transform: scale(1.1);
    }

    .circleme {
      border-radius: 15px;
      border: 2px solid;
    }

    .btnedit {
      padding-right: 5px;
      display: flex;
    }

    .poschahnge {
      float: right;
    }

    .pdfLink:hover {
      transform: scale(1.2);
    }

    #form_check {
      display: None;
    }
  </style>
</head>
<br />
<br />

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4">
        <!--Specificy we want to take up 5/12 content blocks-->
        <div class="mx-auto" style="text-align: center">
          <h4>
            RECIEVE ORDER
            <img src="https://img.icons8.com/fluent/48/000000/mailbox-coins.png" />
          </h4>
        </div>
        <hr />
        <div id="form_response" class="mb-4 text-center"></div>
        <div class="turbinedisplay">
          <img id="Turbine" src="https://img.icons8.com/ios-filled/100/000000/jet-engine.png" />
        </div>

        <div id="form_check" class="mb-4 text-center">
          <div>
            <p>
              You have omitted either the price or certification document from
              this part, do you wish to continue?
            </p>
          </div>
          <div>
            <a id="submit-check-false" class="btn btn-danger">Back</a>
            <a id="submit-check" class="btn btn-success">Continue</a>
          </div>
        </div>

        <div class="card card-body reciever circleme">
          <div class="form-group">
            <form id="id_form" enctype="multipart/form-data" action="#" method="POST">
              {{ receiveForm.management_data }} {% csrf_token %}
              <h5><strong>PART INFORMATION</strong></h5>
              <hr />
              <h6>Reserved For : {{part.tail_number}}</h6>
              <h6>Description : {{part.description}}</h6>
              <h6>Catagory : {{part.part_type}}</h6>
              <h6>Part # : {{part.part_number}}</h6>
              <h6>Ordered Qty : {{part.order_quantity}}</h6>

              <h6>Received @ : {{time|date:"M d, Y"}}</h6>

              <hr />

              <table>
                {{receiveForm.as_p}}
              </table>
              <hr>





              <div class="row">
                <div class="col-sm-4">
                  <a class="btn btn-danger sb-btn" style="float:left" href="{% url 'orderpart' %}">Cancel</a>
                </div>
                <div class="col-sm-4"></div>

                <div class="col-sm-4">
                  <button class="btn btn-dark sb-btn" style="float:right" type="submit">
                    Confirm Entry
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <hr />
      </div>

      <div class="col-md-4"></div>
    </div>
  </div>
</body>
<br>
<br>

{% endblock%}