{% extends 'mgmt/index.html'%}
{% load static%}
{% block content %}
{% load widget_tweaks %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    <style>
        .sb-btn {
            border-radius: 15px;
            transition: all .2s ease-in-out;

        }

        .sb-btn:hover {
            transform: scale(1.1);
        }

        .circleme1 {
            border-radius: 15px;
            border: 2px solid;
        }

        .btnedit {
            padding-right: 5px;
            display: flex;

        }

        .poschahnge {
            float: right;
        }

        .pdfLink:hover {
            transform: scale(1.2)
        }
    </style>
</head>
<br>
<br>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>

            <div class="col-md-4">
                <!--Specificy we want to take up 5/12 content blocks-->
                <div class="mx-auto" style="text-align:center">
                    <h4> INSTRUCTIONS <img src="https://img.icons8.com/ios/50/000000/user-manual.png" /></h4>
                </div>
                <hr>
                <div class="card card-body reciever circleme1">
                    <h5><strong>Step 1:</strong></h5>
                    <hr>

                    {%if part.tail_number.name != 'Stock'%}
                    <h6><strong>1. Insert part directly into Reserved Bin <u>{{part.tail_number}}</u></strong> </h6>

                    {%else%}
                    {% if part.part_type == 'Consumables' %}
                    <p>Consumbles do not have bin locations.</p>
                    {%else%}
                    {%if check == True%}
                    <p><strong>1. Navigate to the <u>{{part.part_type}} </u>Shelf.</strong></p>
                    <p><strong>2. Navigate to <i>EXISTING</i> Bin : {{label}}</strong></p>
                    {%else%}
                    <p><strong>1. Navigate to the <u>{{part.part_type}} </u>Shelf</strong></p>
                    <p><strong>2. Create a <i>NEW</i> Bin with the label : {{label}}</strong></p>


                    {%endif%}

                    {%endif%}

                    {%endif%}


                    <hr>
                    <h5><strong>Step 2:</strong></h5>
                    <hr>
                    <p><strong>1. Press the button below to print the barcode.</strong></p>
                    <a class="btn btn-light sb-btn instruct" href="{{part.barcode.url}}" target="_blank"><img
                            src="https://img.icons8.com/material-outlined/48/000000/barcode.png" />
                        <img src="https://img.icons8.com/material-outlined/48/000000/barcode.png" />
                        <img src="https://img.icons8.com/material-outlined/48/000000/barcode.png" /></a>

                    <hr>
                    <br>

                    {%if check != True%}

                    <form action="#" method="POST">
                        <h5>BIN # OVER-RIDE</h5>
                        <br>
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>

                        <div class="row">

                            <div class="col-sm-6">
                                <button class="btn btn-info sb-btn" type="submit"
                                    href="{% url 'InterimOrder' %}">Receive
                                    Another Part</button>

                            </div>
                            <!-- <div class="col-sm-1"></div> -->
                            <div class="col-sm-6">
                                <button class="btn btn-dark sb-btn" style="float: right" type="submit"
                                    href="{% url 'store' %}">Navigate to
                                    Invenotry
                                </button>
                            </div>
                        </div>



                    </form>

                    {%else%}

                    <div class="row">

                        <div class="col-sm-6">
                            <a class="btn btn-info sb-btn" href="{% url 'InterimOrder' %}">Receive
                                Another Part</a>

                        </div>
                        <!-- <div class="col-sm-1"></div> -->
                        <div class="col-sm-6">
                            <a class="btn btn-dark sb-btn" style="float: right" href="{% url 'store' %}">Navigate to
                                Invenotry
                            </a>
                        </div>
                    </div>

                    {%endif%}


                </div>
            </div>

            <div class="col-md-4">
            </div>

        </div>
    </div>
    <br>
    <br>
</body>

{% endblock%}