
{% load static %}
<!doctype html>
<html lang="en">
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    <link href="{% static 'js/nprogress.css' %}" rel="stylesheet">
    
    <title>Inventory Manager</title>
  </head>
  <body>
 

  
    {%include 'mgmt/navbar.html'%}
    <!-- <div id= "spinner" class="text-center mt-3">
    <div class="spinner-border text-primary" role="status"></div>
    </div>
   
    <div id= "data-box" class="text-center mt-3">
    
    </div> -->
     
    {% block content %}
   
   
    {% endblock%}
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet"/>


    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
    <script type="text/javascript"  src="{% static 'js/paging.js' %}"></script>
    <script src="{% static 'js/nprogress.js' %}"></script>
   
   <script type="text/javascript">
      $(function () {
          $('.table-max').paging({limit:16});
          $('.table-med').paging({limit:11});
          $('.table-min').paging({limit:6});
          $('.table-special').paging({limit:7});
         
      });

  
    
  </script>
    


  </body>
</html>