{%extends 'mgmt/index.html'%}
{% load static%}
{% block content %}
{% load widget_tweaks %}
<!-- {%include 'mgmt/status.html'%} -->

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    
    <link rel="stylesheet" src="{% static 'js/home.js' %}">
  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  
  
</head>

<body>

    <section class="pb-5 pt-5" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">ORDER/RECEIVE MANAGEMENT</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Select a window to gain access and functionallity to inventory avaliable to you.</p>
                    </div>
                </div>
            </div>

      
          <br>
  
            <div class="row">
            <div class="col-md-3">
                  
            </div>
              
            
            <div class="col-md-2 ">
                    <a href="{%url 'orderpart'  %}" class="services-small-item">
                        <div class="icon">
                            <img src="https://img.icons8.com/dusk/96/000000/shipped.png"/>
                        
                        </div>
                        <br>
                        <h5 class="services-title">RECEIVE/ORDER PARTS</h5>
                        <p>Create/Receive and PDF part orders.</p>
                        <div class="button">
                          
                        </div>
                    </a>
                    <div class="item-bg"></div>
            </div>
  
              <div class="col-md-2 ">
                  <a href="{%url 'interimtransfer' %}" class="services-small-item">
                      <div class="icon">
                        <img src="https://img.icons8.com/cotton/96/000000/data-in-both-directions.png"/>
                      
                      </div>
                      <br>
                      <h5 class="services-title"> RECEIVE CONSIGNMENT PARTS</h5>
                      <p>Receive inventory from a source without a pending order</p>
                      <div class="button">
                        
                      </div>
                  </a>
                  <div class="item-bg"></div>
              </div>
  
              <div class="col-md-2 ">
                <a href="{%url 'addToInventory' 'RemoveFromAircraft' %}" class="services-small-item">
                    <div class="icon">
                        <img src="https://img.icons8.com/plasticine/96/000000/fighter-jet.png"/>
                    </div>
                    <br>
                    <h5 class="services-title">REMOVE FROM AIRCRAFT</h5>
                    <p>Remove Part from aircraft as servicable or repairable.</p>
                    <div class="button">
                
                    </div>
                </a>
                <div class="item-bg"></div>
              </div>

              <div class="col-md-3">
                  
            </div>
          
            </div>
      
      </div>
    </section>
    
</body>


	

{% endblock%}
