{%extends 'mgmt/index.html'%}
{% load static %}
{% block content %}
{%include 'mgmt/status.html'%}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    <style>


        .container{   
            
            
        } 
        .circleme{
            border-radius: 15px;
            border: 1px solid;
        }
        .reciever{
            background:  #afb4b97c ;  
        }
    
        .btn-dre{
            border-radius:30px;
            font-size:18px;
            width:100%;
            padding: 10px;
        }

        .sb-btn{
            border-radius: 15px;
            
            float: right;
            transition: all .2s ease-in-out; 
        }
        .sb-btn:hover{
            transform: scale(1.1);
        }
        .btn-comp{
            border-radius: 15px;
           
            float: right;
            transition: all .2s ease-in-out; 
        }

        .btn-comp:hover{
            transform: scale(1.1);
        }
    
           
    </style>
</head>
<body>
<script>
      

function confirmSubmit()
{
    var txt;
var agree=confirm("Are you sure you wish to complete this Work Order?");
if (agree){
 
 return true ;}
else
 return false ;
}

</script>

<br>
<br>

    <div class="container-fluid">
        <div class="row">   
            
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4">
                    <div class="card card-body circleme">
                        <h6 style="text-align:center;">WORK-ORDER NUMBER -> {{workordernumber}}</h6>
                        <h6 style="text-align:center;">ESTIMATED COST :<strong style="background-color:yellow">$ {{total}}</strong></h6>
                        <h6 style="text-align:center;">TAIL NUMBER : {{querysetDisplay.tail_number}}</h6>
                        <h6 style="text-align:center;">OPENED @ : {{querysetDisplay.date_added}}</h6>
                        <br>
                        <hr>
                        <h6 style="text-align:center;">Descrption : {{querysetDisplay.description}}</h6>
                        <hr>
                    </div>
                </div>
                <div class="col-md-4">
                 
                </div>
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-md-5"></div>
            <div class="col-md-2">
                <div class= 'card card-body circleme btn-pos '>
                            <a style="margin-left: 20px; margin-right: 20px ;" class="btn  btn-danger sb-btn" href="{% url 'workorders' %}">Back</a>
                           
                       
                </div>
                <hr>


            </div>
            <div class="col-md-5"></div>
        </div>


        <div class="row">        
            <div class="col-md-12">
                <div class="mx-auto" style="width: 400px;">
                    
                    <br>
                    <br>
                    <h4 style="text-align:center">PARTS ISSUED <img src="https://img.icons8.com/ios-filled/50/000000/passport.png"/></h4>
                </div>
                <hr>
                <div class="row"> 
                    <div class="col-md-12">
                        <div class= 'card card-body circleme '>
                            <form method="get">
                            {{filter.form}} 
                            <button class="btn btn-info sb-btn" type="submit"><img src="https://img.icons8.com/pastel-glyph/26/000000/search--v1.png"/></button>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card card-body circleme">
                    <table class="table table-md">
                        <tr>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Descrption</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">P/N</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">S#/B#</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Issued By</th>                           
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Qty Issued</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Unit Price</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Total Price</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Cert Documents</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Condtition</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Work Card #:</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Isued On:</th>
                        </tr>
                        {% for part_workorder in partsIssue %}
                        <tr>
                            <td style="text-align:center;">{{part_workorder.part.description}}</td>
                            <td style="text-align:center;">{{part_workorder.part.part_number}}</td>

                            {%if part_workorder.part.serial_number%}
                            <td style="text-align:center;">{{part_workorder.part.serial_number}}</td>
                            {%else%}
                            <td style="text-align:center;">{{part_workorder.part.batch_no}}</td>
                            {%endif%}

                            <td style="text-align:center;">{{part_workorder.issued_by}}</td> 

                            
                      
                            <!--The quantity represented in the many to many associated with a work-order -->
                            <td style="text-align:center;">{{part_workorder.issue_quantity}}</td> 
                            <td style="text-align:center;">$ {{part_workorder.part.price}}</td> 
                            <th style="text-align:center; ">$ {{part_workorder.total}} </th>
                            
                            {% if part_workorder.part.cert_document %}
                                <td style="text-align:center;"><a href="{{part_workorder.part.cert_document.url}}" target="_blank""><img src="https://img.icons8.com/ios/30/000000/paper.png"/></a> </td>
                            {%else%}
                                <td style="text-align:center;"><img src="https://img.icons8.com/offices/30/000000/cancel-2.png"/> </td>
                            {% endif %}

                            <td style="text-align:center;"> {{part_workorder.part.condition }} </td>

                            <td style="text-align:center;"> {{part_workorder.jobCardNumber }} </td>
                            <td style="text-align:center;"> {{part_workorder.created_at|date:"M d, Y" }} </td>

                         
                            
    
                            
                        </tr>
                        {% endfor%}
        
                    </table>
                </div>              
            </div >
        </div> 
    
       
    

        <div class="row">    
            <div class="col-md-12">
        
                
                
                <div class="mx-auto" style="width: 400px;">
                    
                    <br>
                    <br>
                    <h4 style="text-align:center">PARTS REMOVED <img src="https://img.icons8.com/plasticine/50/000000/fighter-jet.png"/></h4>
                </div>
                <hr>
                <div class="card card-body circleme">
                    <table class="table table-md">
                        <tr>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Descrption</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">P/N</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">S#/B#</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Removed By:</th>  
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Removed From:</th>                        
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Qty</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Work Card #</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Cert Documents</th>
                            <th style="text-align:center; background-color:rgba(128, 128, 128, 0.644);">Removed On:</th>
                        </tr>

                        {% for part_workorder in partsReceived %}
                            <tr>
                                <td style="text-align:center;">{{part_workorder.part.description}}</td>
                                <td style="text-align:center;">{{part_workorder.part.part_number}}</td>
                                {%if part_workorder.part.serial_number%}
                                <td style="text-align:center;">{{part_workorder.part.serial_number}}</td>
                                {%else%}
                                <td style="text-align:center;">{{part_workorder.part.batch_no}}</td>
                                {%endif%}

                                <td style="text-align:center;">{{part_workorder.removed_by}}</td>
                                <td style="text-align:center;">{{part_workorder.removed_from}}</td>

                                <!--The quantity represented in the many to many associated with a work-order -->
                                <td style="text-align:center;">1</td> 
                                <td style="text-align:center;"> {{part_workorder.jobCardNumber }} </td>
                                
                                {% if part_workorder.cert_document %}
                                    <td style="text-align:center;"><a href="{{part_workorder.cert_document.url}}" target="_blank"><img src="https://img.icons8.com/ios/30/000000/paper.png"/></a> </td>
                                {%else%}
                                    <td style="text-align:center;"><img src="https://img.icons8.com/offices/30/000000/cancel-2.png"/> </td>
                                {% endif %}

                                
                                <td style="text-align:center;"> {{part_workorder.created_at|date:"M d, Y" }} </td>

                              
                                
                                
        
                                
                            </tr>
                            {% endfor%}
                    
        
                    </table>
                </div>              
            </div >

    
        </div>
    
    </div>
    
    <br>
    <br>
    

      
    </div>


</body>
    
<br>
<br>


{% endblock%}